// variables 
$text: LibertinusSerifDisplay-Regular;
$display-title: LibertinusKeyboard-Regular;

body {
  font-family: $text;
  font-size: 10pt;
  margin: 0;
  background: url(file:///Users/e/Documents/wilted/det/hills.jpg);
  background-size: cover;
  // background-position: 40% 10%;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/*----------------------------------
 * 
 *
 * grid structure
 *
 *
 * --------------------------------*/

.content {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-rows: auto 1fr 0.25fr;
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.25fr;
}
.name {
  grid-area: 3 / 3 / auto / auto;
  font-size: 8em;
  opacity: .5;
  color: rgba(255,255,255,0);
  text-shadow: -5px -5px green, 2px 2px gray;
}
.dim {
  grid-area: 1 / 1 / 5 / 5;
  background: rgba(255,255,255,0.25);
}
nav {
  grid-area: 1 / 1 / 2 / 5;
  background: rgba(1,1,1,.75);
}
.side {
  grid-area: 2 / 2 / auto / auto;
  margin-top: 50px;
  background: #fff;
  padding: 50px;
}
.post {
  grid-area: 2 / 3 / 3 / auto;
  background: #fff;
  margin-top: 50px;
  padding: 50px;
}
/*----------------------------------
 * 
 *
 * styling details
 *
 *
 * --------------------------------*/

a {
  text-decoration: none;
}
nav h1 {
  background: #fff;
  display: inline-block;
  margin: 0;
  padding: 25px;
}
nav a {
  display: inline-block;
  padding: 0 25px;
  color: #fff;
}
nav a:hover {
  color: #000;
}
