// variables 
$text: LibertinusSerifDisplay-Regular;
$display-title: LibertinusKeyboard-Regular;

body {
  font-family: $text;
  margin: 0;
  background: url(file:///Users/e/Documents/wilted/det/hills.jpg);
  background-size: cover;
  background-position: 40% 10%;
  // background-position: 40% 70%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.content {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 0.25fr 1fr 0.2fr;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}
.dim {
  grid-area: 2 / 1 / 4 / 4;
  background: rgba(255,255,255,0.25);
}
header {
  grid-area: 1 / 1 / 1 / 4;
  background: rgba(255,255,255,1);
}
.spotlight {
  grid-area: 2 / 2 / 2 / 3;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
}
.side {
  width: 30%;
}
.post {
  width: 60%;
}
header nav {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
a {
  color: #9a9a9a;
  text-decoration: none;
}
header a {
  color: green;
  padding: 0 5px 5px;
  border-bottom: 1px solid green;
}
